<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="">
        <p>&copy; 2020 MommaFinds | <a href="/privacy/">Privacy Compliance</a></p>
      </div>
      <div class="col-md-4" style="">
        <p><a href="/about/">About</a> <a href="/letters/">Letters</a> <a href="https://anchor.fm/mommafinds">Podcast</a></p>
      </div>
      <div class="col-md-4" style="">
        <p><a href="https://www.facebook.com/mommafinds/"><i class="fab fa-facebook-f"></i></a> <a href="https://www.instagram.com/mommafinds/"><i class="fab fa-instagram"></i></a> <a href="https://www.twitter.com/mommafinds/"><i class="fab fa-twitter"></i></a></p>
      </div>
    </div>
  </div>
</footer>

<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/min/waypoints.min.js"></script>
<script src="/js/jquery.counterup.js"></script>
<script src="/js/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/solid.js" integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js" integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq" crossorigin="anonymous"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58012e89a86071b6"></script>
<script type="text/javascript" src="https://static1.clutch.co/api/widget.js"></script>
