<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="Logo" /></a>
        <button style="padding-top: .5em;float: right;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i style="color:#fff;font-size:2em;" class="fa fa-bars" aria-hidden="true"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li style="list-style:none;padding:1em;" class="nav-item active">
              <a class="nav-link" style="color:#fff;" href="/about/">About</a>
            </li>
            <li style="list-style:none;padding:1em;" class="nav-item">
              <a class="nav-link" style="color:#fff;" href="/letters/">Letters</a>
            </li>
            <li style="list-style:none;padding:1em;" class="nav-item">
              <a class="nav-link" style="color:#fff;" href="https://anchor.fm/mommafinds">Podcast</a>
            </li>
            <li style="list-style:none;background-color:#ff008a;padding:1em;" class="nav-item">
              <a class="nav-link" style="color:#fff;" href="#subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </nav>

      </div>
    </div>
  </div>
</header><!-- header close -->
<body>
