<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | MommaFinds</title>
<meta name="description" content="{% if page.meta %}{{ page.meta }}{% else %}{{ site.meta }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="p:domain_verify" content="224ff66ce3734311bcad21544f525d6f"/>
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:url" content="https://www.mommafinds.com/" />
<meta property="og:image" content="https://www.mommafinds.com/img/{% if page.img != '' %}{{ page.img }}.jpg{% else %}logo-rgb.png{% endif %}" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="canonical" href="https://www.mommafinds.com{ page.url }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
