<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="/img/logo.png" alt="Logo" />
          </div>
          <div class="block">
            <div class="col-md-4" style="display:inline;padding-left:0;">
              <a style="font-family: MadreScriptW01-Italic;color:#fff;font-weight:bold;font-size:1.5em;" href="/">MommaFinds</a></li>
            </div>
            <div class="col-md-5 col-md-offset-2">
              <ul>
                <li style="display:inline;"><a style="color:#fff;" href="/about/">About</a></li>
                <li style="display:inline;padding-left:1.5em;"><a style="color:#fff;" href="/letters/">Letters</a></li>
                <li style="display:inline;padding-left:1.5em;"><a style="color:#fff;" href="https://anchor.fm/mommafinds">Podcast</a></li>
                <li style="display:inline;padding-left:1.5em;"><a style="background-color: #ff008a;color: #fff;padding: 1em 1.5em;border-radius: .4em;" href="#subscribe">SUBSCRIBE</a></li>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
