<div id="mc_embed_signup">
  <form action="https://mommafinds.us18.list-manage.com/subscribe/post?u=196168a1df9d3aafab08f0b8c&amp;id=aef6f3eb42" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  	   <input style="width: 100%;padding: 1em;font-size: 1em;margin-bottom: 1em;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_196168a1df9d3aafab08f0b8c_aef6f3eb42" tabindex="-1" value=""></div>
        <div class="clear">
          <input
          style="width: 100%;font-size: 1em;padding: 1em;background-color: #ff008a;color: #fff;border: none;"
          type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
        </div>
      </div>
  </form>
</div>

<p style="margin-top:1em;"><i>Your personal information will only be used by MommaFinds. It will never be sold. Pinky swear.</i></p>
