---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section>
    <div class="container">
      <h1><a href="{{ site.baseurl }}/{{page.category}}/">{{page.category}}</a></h1>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img src="{{ site.baseurl }}/img/{% if page.img %}{{ page.img }}{% else %}digital-marketing{% endif %}.jpg" />
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="block" style="margin: 1em;">
            <h2><a href="{{page.link}}">{{ page.title }}</a></h2>
            <div class="post-info-wrapper">
              <div class="addthis_inline_share_toolbox"></div>
            </div>
            <hr />
            <p>{{ content }}</p>
            <p></p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
